.ant-targets*
.classpath
.gradle
.idea
*.iml
.project
.settings
/_eclipse/
/local.properties
build
eclipse-build
gradle.properties
ivy*
javadocs
kobaltBuild
lib
maven-testng-plugin-1.2.jar
nb-configuration.xml
out
src/generated
.settings
.settings/*
target
test-output
test-output-tests
testng.iml
z_build
.kobalt
.DS_Store
bin/testng.xml
bin/src/test/java/SOSFastAutomation/SOSFast/headbrowser.class
bin/src/test/java/SOSFastAutomation/SOSFast/Stations.class
bin/src/test/java/SOSFastAutomation/SOSFast/Signin.class
bin/src/test/java/SOSFastAutomation/SOSFast/NewsHead.class
bin/src/test/java/SOSFastAutomation/SOSFast/News.class
bin/src/test/java/SOSFastAutomation/SOSFast/ManageProfile.class
bin/src/test/java/SOSFastAutomation/SOSFast/Drag.class
bin/src/test/java/SOSFastAutomation/SOSFast/Details.class
bin/src/main/java/SOSFastAutomation/SOSFast/App.class
bin/pom.xml
bin/manage.xml
bin/details.xml
bin/crossbrowser.xml
bin/croosj.xml
bin/NewsJ.xml
bin/NewsC.xml
bin/Cross.xml
bin/.gitignore
